{%extends 'layout.html'%}

{%block 'content'%}
<div class="container">
    <div class="row">
        <div class="col-3 mt-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-warning">Mobil Programlama</li>
                <li class="list-group-item list-group-item-warning">Web Geliştirme</li>
                <li class="list-group-item list-group-item-warning">Oyun Programlama</li>
                <li class="list-group-item list-group-item-warning">Ai</li>

            </ul>
        </div>
        <div class="col-9">

        </div>
    </div>
</div>
{%endblock%}

{%block 'title'%}
Kurslar
{%endblock%}