"{%extends 'layout.html'%}

{% load static %}

{%block 'css_files'%}
<link rel="stylesheet" href="{% static 'course/js/style.css' %}">
{%endblock%}

{%block 'content'%}
<div class="container">
    <div class="row">
        <div class="col-3 mt-3">
            {%include 'partials/_categories.html' %}


        </div>
        <div class="col-9">

            <div class="container text-center">
                <div class="row">

                    {% for course in courses %}
                        {% if course.isActive %}
                            {%include 'partials/_course.html' %}
                         {%endif%}


                    {% endfor %}

                </div>
            </div>
        </div>




    </div>
</div>
</div>
{%endblock%}

{%block 'title'%}
Kurslar
{%endblock%}"

{%block 'js_files'%}
<script src="{% static 'course/js/script.js' %}"></script>
{%endblock%}
